<div class="wrapper">
  <div class="wrapperInputContainer">
    <input class="wrapperInputContainerInput" placeholder="Szukaj wg słowa kluczowego" />
    <button type="submit" class="wrapperInputContainerBtn"><app-arrow-chevron-right--svg/></button>
  </div>
  <p class="wrapperInputContainerText">lub</p>
  <div class="wrapperInputContainer">
    <input
      type="text"
      class="wrapperInputContainerInput"
      placeholder="Pokaż produkty wybranego producenta"
    />
    <button type="submit" class="wrapperInputContainerBtn"><app-arrow-chevron-right--svg/></button>
  </div>
</div>
