<div class="wrapper">
    <input type="email" placeholder="email">
    <input type="password" placeholder="hasło">
    <div class="buttonWrapper">
        <button type="submit" class="wrapperBtn">Zaloguj się</button>
        <button class="wrapperBtn">Załóż konto</button>
        <button class="wrapperBtn wrapperBtnCart">
            <span class="wrapperBtnCartIcon"><app-shopping-cart-svg></app-shopping-cart-svg></span>
            <span class="wrapperBtnCounter">{{counter}}</span>
        </button>
    </div>
</div>
