<div class="wrapper">
  <a href="#"
    ><img src="assets/gc_logo.png" alt="gc-logo" class="wrapperLogo"
  /></a>
  <div class="wrapperBand">
    <div class="wrapperBandMenu">
      <a href="#" class="wrapperBandMenuPassRecovery">Nie pamiętasz hasła?</a>
      <div class="wrapperBandMenuElements">
        <div class="wrapperBandMenuElementsIcon">Dlaczego GC?</div>
        <div class="wrapperBandMenuElementsIcon">Jak kupować?</div>
        <div class="wrapperBandMenuElementsIcon">Regulamin</div>
        <div class="wrapperBandMenuElementsIcon">Kontakt</div>
      </div>
    </div>
  </div>
</div>
