.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &Link {
    &Logo {
        width: 240px;
    }
  }
  
  &Band {
    background-image: url("../../../../assets/new_header_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 110px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    &Menu {
      width: 50%;
      &PassRecovery {
        font: 11px Tahoma, sans-serif;
        color: #888;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            color: #444;
        }
      }

      &Elements {
        display: flex;
        justify-content: flex-end;
        &Icon {
          display: block;
          flex-grow: 0.75;
          cursor: pointer;
          background-repeat: no-repeat;
          background-position: 50% 0;
          font: bold 12px Tahoma, sans-serif;
          color: #585858;
          padding-top: 51px;
          margin-top: 15px;
          text-align: center;

          &:hover {
            background-position: 50% -65px;
          }

          &:nth-child(1) {
            background-image: url("../../../../assets/gc_top_dlaczego.png");
          }
          &:nth-child(2) {
            background-image: url("../../../../assets/gc_top_jakkupowac.png");
          }
          &:nth-child(3) {
            background-image: url("../../../../assets/gc_top_regulamin.png");
          }
          &:nth-child(4) {
            background-image: url("../../../../assets/gc_top_kontakt.png");
          }
        }
      }
    }
  }
}
